* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.flex {
    display: flex;
}

body {
    font-family: 'Roboto', sans-serif;
}

.shade {
    background: linear-gradient(grey, black);
}

.white {
    color: white;
}
/* fine common */
/* main  */
main {
    width: 100vw;
    height: 93vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    width: 90%;
    height: 87%;
    flex-wrap: wrap;
    background-color: black;
}

.container .people {
    background-image: url('../img/paesaggio.jpg');
    background-size: cover;
    width: calc(100% / 5 - 6px);
    margin: 3px;
    position: relative;
}

.people .name {
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    position: absolute;
    bottom: 0;
}

.view {
    position: absolute;
    top: 5px;
    right: 10px;
}

.view .speaker,
.view .expand {
    color: white;
    display: inline;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.arrow {
    width: 5%;
    align-items: center;
    flex-direction: column;
    color: grey;
}

.arrow i {
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
}

.right i {
    color: rgb(90, 155, 240);
}
/* fine main */
/* footer  */
footer {
    width: 100vw;
    height: 7vh;
}
/* fine footer  */